/* Navbar */
#navbar {
  /* background-color: rgba(0, 38, 77, 0.7); */
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  height: 50px;
  gap: 180px;
  position:absolute;

}

#navbar a {
  color:white;
  text-align: center;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
    text-decoration: none;
    font-weight: 550;
}

#navbar a:hover {
  color: aliceblue;
  cursor: pointer;
  font-size: large;
}

ul {
  list-style: none;
}

/* Mission Section */
#mission {
  border-radius: 20px;
  width: 800px;
  color: white;
  position: absolute;
  top: 80%;
  left: 2.5%;
  background-color: #3271a566;
  font-size: 1.25rem;
  border-style: solid white;
  transform: translateY(-50%);
  animation: slideRight 5s forwards;
}

@keyframes slideRight {
  0% { left: 0; }
  100% { left: 30%; } 
}

/* Headings */
h1 {
  position: absolute;
  top: 10%;
  left: 5%;
  color: white !important;
  font-size: 4rem !important;
}

h2 {
  position: absolute;
  top: 20%;
  left: 10%;
  color: white !important;
  font-size: 2rem !important;
}

/* Hexagon / Features */
div h3 {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-auto-rows: 120px;
  justify-content: center;
  align-items: center;
  margin: 50px;
  gap: 90px;
}

.Features {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  background-color: #3271a566;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Features:nth-child(1) { grid-column: 2; grid-row: 1; transform: translateY(90px); }
.Features:nth-child(2) { grid-column: 1; grid-row: 2; transform: translateX(-8px); }
.Features:nth-child(3) { grid-column: 3; grid-row: 2; transform: translateX(45px); }
.Features:nth-child(4) { grid-column: 1; grid-row: 3; transform: translateX(-8px); }
.Features:nth-child(5) { grid-column: 3; grid-row: 3; transform: translateX(45px); }
.Features:nth-child(6) { grid-column: 2; grid-row: 4; transform: translateY(-90px); }

/* Special Feature Button */
#special_features {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #3271a5;
  position: absolute;
  top: 983px;
  left: 600px;
  color: white;
}
#social_media {
  display: flex;
  justify-content:center;       
  align-items: center; 
  gap: 20px;           
  margin-top: 10px;
}

#social_media a {
  font-size: 24px;     
  color: white;        
}
#social_media a:hover{
  color:#00bcd4;
}

#footer {
  background-color: rgba(0, 38, 77, 0.7);  
  color: white;               
  padding: 30px;              
  text-align: center;         
}

