body{
    background-color: #E0E0E0;
}
#navbar{
    display:flex;
    text-align:center;
    justify-content: space-around;
    margin-top:10px;

}
#navbar img{
    border-radius:50%;
    height:50px;
    width:50px;
    margin-bottom: 5px;

}
 
#user_info{
    display:flex;
    background-color: #E3E3E3;
    flex-direction: column;
    gap:20px;
    border-radius:5px solid black;
    margin:2rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    padding:5rem;
    width:600px;
    height:647px;
}  
#user_info button{
    border-radius:20px;
    background-color: blue;
    color:white;
    height:60px;
}
#main_container{
    display:flex;
    flex-wrap: wrap;
    margin:1rem;
    padding:1rem;
    gap:1rem;

}
#contact_info{
    display:flex;
    float:right;
    flex-direction: column;
    gap:20px;
    justify-content:flex-end;
    text-align:center;
    border-radius:5px solid black;
    margin:2rem;
    padding: 5rem;
    width:650px;
    margin-bottom:20rem;
    box-shadow:0 4px 12px rgba(0,0,0,0.5);

}
#footer{
    background-color: #032E66;
    color:white;
    padding:30px;
    text-align:center;
    margin-top: -289px;

}
#footer ul{
    gap: 0.8rem;
    list-style: none;
}
#icons{
    text-align: center;
    font-size: 3rem;
}
h1{
    position:absolute;
    top:30%;
    left:3%;
    margin:1rem;
    padding:2rem;
    color:white!important;
    font-size:4.5rem!important;
    font-weight:bold;
}
h2{
    position:absolute;
    top:46%;
    left:10%;
    margin:1rem;
    padding:1rem;
    color:white!important;
    font-size:2rem!important ;
}