

#navbar {
  /* background-color:rgba(0, 208, 255, 0.753); */
  display: flex;
  justify-content:space-around;
  text-align:center;
  border-radius: 20px;
  height: 50px;
  gap: 180px;
  position:absolute;
;
  
}

#navbar a {
  color:white;
  text-align: center;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;

}

#navbar a:hover {
  
  cursor: pointer;
  font-size: large;
}

ul {
  list-style: none;
}

#main_image{
    display:flex;
    flex-wrap:wrap;
    margin:0.5rem;
    padding: 0.5em;
    gap: 0.1rem;
    justify-content: center;
    

}
.features{
    /* display:inline-block;
    align-items: flex-end; */
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position:relative;
    margin: 0.1rem;
    width:250px;
    text-align: center;
    
}

.features figure img {
    width:25rem;
    display:block;
    border-radius: 1px solid black;
    box-shadow:0 5px 12px  rgba(0,0,0,0.8);
    border-radius: 10px;
    padding: 0.1em;
    
    /* position:relative; */
    
}
.features figure{
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.features  button{
    padding:1rem;
    position:absolute;
    border-radius:20px;
    transform: translateX(-50%);
    left:50%;
    cursor:pointer;
    background-color: black;
    color:white;
    cursor:pointer;
    bottom:45px;
    transition:all 0.3s ease;
}

.features figure button:hover{
    background-color:white;
    color:black;
}

h1{
    position:absolute;
    top:20%;
    left:6%;
    color:white;
    font-size:6rem;
    font-style: italic;
}
h2{
    position:absolute;
    top:36%;
    left:8%;
    color:white;
    font-size:4rem;
    font-style: italic;
}
#container {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;  
           
}
.features figure figcaption{

    font-size: 1.5rem !important;
    margin:5px;
    padding:12px;
    text-decoration: underline;
    position:absolute;
    color:white

}
.info-card{
    position:absolute;
    background:rgba(0,0,0,0.5);
    color:white;
    border-radius:15px;
    justify-content:center;
    text-align: center;
    box-sizing: border-box;
    padding:10px;
    transition:all 0.3s ease;
    display: none;

}
.info-card.show{
    display:block;
}
.info-card button{
    background-color: #0077b6;
    color:white;
    transition:0.3s;
    box-shadow:0 4px 20px rgba(0, 119, 182, 0.4);
    margin-top:25px;
    display:block;
    border-radius: 15px;
    position:relative;
    bottom:auto;

}
.info-card button:hover{
    background: #4cc9f0;
}
